{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-image">
            <figure class="image">
            <img style="width: 1280 !important; height: 180px !important;" src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
    </div>

    <div class="section">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <div class="card mr-0">
                    <div class="card-image">
                        <figure class="image is-1by1">
                        <img src="https://some-image.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                            BRAND <a href="https://brand">Brand Products</a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
    
            <div class="column is-two-thirds has-background-primary">
                <p class="">Product Name</p>
                <p class="">Value</p>
                <p class="">quantity</p>
                <p class="">color</p>
                <p class="">any other useful info</p>

            </div>
        </div>

    </div>


    <div class="card">
        <div >
            <p>${ count }$</p>

            <button @click="increment">increment</button>
        </div>
    </div>

{% endblock %}

{% block js %}
<script>

    const app = createApp({
        data() {
            return {
                count: 0,
            }
        },
        methods: {
            
            increment() {
                this.count++
            }
            
        }
    })
    app.config.compilerOptions.delimiters = DEFAULT_DELIMITERS; 
    app.mount("#app");
</script>
{% endblock %}